.input {

    width: 100%;
    margin: 5px;
    flex: auto;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
}

.form {

    border: none;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    display: flex;
    background-image: url("back.jpg");
}


.container {
    padding: auto;
    text-align: center;
}

.add {


    align-items: center;
    background-clip: padding-box;
    background-color: #EA1717;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    height: 32px;
    border-radius: 6px;
}

.add:hover,
.add:focus {
    background-color: #EA1717;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.add:hover {
    transform: translateY(-1px);
}

.add:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.tasks {
    border: none;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    /* background-image: url("back.jpg"); */
    margin: 25px;
    height: auto;
    display: block;

}

p {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin: 5px;
    width: 60%;
    height: 29px;
    padding: 6px;
    text-align: left;
    flex: auto;
    font-size: 20px;
}

.div_task1 {

    display: flex;
    margin: 20px;

}